<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Cadastro de Notas</title>
    </head>
    <body>
        <h1>Cadastro de Notas</h1>
        <form method="POST" action="http://localhost:3000/api/alunos">
            <label>NOME: </label><input type="text" id="NOME" name="NOME" name="title" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <label>IDADE:  </label><input type="text" id="IDADE" name="IDADE" name="body" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <label>NOTA1:  </label><input type="text" id="NOTA1" name="NOTA1" name="body" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <label>NOTA2:  </label><input type="text" id="NOTA2" name="NOTA2" name="body" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <label>PROFESSOR:  </label><input type="text" id="PROFESSOR" name="PROFESSOR" name="body" value="" size="40" maxlength="150"/>
            <br>
            <br>
            <label>SALA:  </label><input type="text" id="NSALA" name="NSALA" name="body" value="" size="40" maxlength="150"/>
            <br>
            <br>
                        <input type="submit" name="enviar" value="Salvar"/>
        </form>
    </body>
</html>